name: Building pages
on:
  push:
    branches:
      - main
  pull_request:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: linux
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material
      - run: pip install mkdocs-roamlinks-plugin
      - run: pip install mkdocs-mermaid2-plugin
      - run: pip install mkdocs-callouts
      # - run: pip install mkdocs-mermaid2-plugin
      - run: mkdocs gh-deploy --force
